@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
nav {
  display: flex;
  align-items: center;
  padding: 1.3em;
  background-color: #FFFFFF;
}

.navBrand {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-right: auto;
  text-decoration: none;
  color: #3b3b3b;
}

.navItems {
  display: flex;
  gap: 30px;
}
.navItems svg {
  fill: #1E2A3D;
}

.dropp {
  margin-right: 30px;
}
.dropp button {
  border: none;
  background-color: #FFFFFF;
}
.dropp button:focus {
  transition: 0.5s;
  transform: rotate(-360deg);
}
.dropp button svg {
  margin: 0;
  fill: #1E2A3D;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.navLinks a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #5F6368;
  font-size: 17px;
  text-decoration: none;
  transition: 0.5s;
}
.navLinks a :hover {
  color: black;
}

.iconNav {
  width: 35px;
  height: 100%;
}

#collapseExample {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100;
  border-radius: 0 0 10px 10px;
}

@media (max-width: 768px) {
  nav {
    justify-content: space-between;
  }
  .navBrand {
    order: 10;
    margin: 0;
  }
  .dropdown {
    order: 1;
  }
  .navItems {
    order: 20;
    gap: 10px;
  }
}
@media (max-width: 425px) {
  .iconNav {
    width: 30px;
  }
}
footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  background-color: rgb(66, 66, 66);
}
footer div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer div svg {
  width: 30px;
  fill: #777777;
}
footer p {
  color: #777777;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

.infoCard {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  width: 24%;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
}
.infoCard img {
  height: 40%;
  background-color: red;
  filter: brightness(2.5);
  border-radius: 13px;
  padding: 5px;
}
.infoCard div {
  display: flex;
  flex-direction: column;
}
.infoCard div h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.infoCard div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

@media (max-width: 768px) {
  .infoCard {
    width: 47%;
  }
}
@media (max-width: 425px) {
  .infoCard {
    height: 100%;
    width: 100%;
    align-items: center;
  }
  .infoCard img {
    width: 30px;
    height: 30px;
  }
  .infoCard div h6 {
    font-size: 13px;
  }
  .infoCard div p {
    font-size: 10px;
  }
}
.accountMain {
  display: flex;
  justify-content: center;
}

.accountSect {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 30px;
  padding: 30px;
  gap: 30px;
  flex-direction: column;
  border-radius: 20px;
}
.accountSect img {
  width: 50%;
  border-radius: 50%;
}
.accountSect form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.formItem {
  display: flex;
  flex-direction: column;
}
.formItem label {
  font-family: "Nunito", sans-serif;
  color: #3b3b3b;
  font-size: 20px;
  font-weight: 500;
}
.formItem input {
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #E3ECEF;
}

.enviar {
  background-color: #d4dcdf;
  border: none;
  border-radius: 5px;
  font-family: #3b3b3b;
  font-size: 15px;
  transition: 1s;
  color: #5F6368;
  width: 150px;
}
.enviar:hover {
  transform: scale(1.1);
}

@media (max-width: 425px) {
  .accountSect {
    width: 80%;
    height: 500px;
  }
  .accountSect img {
    width: 70%;
  }
}
.carousel-item {
  position: relative;
}
.carousel-item div {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 700px;
  position: absolute;
  z-index: 2;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-item div p {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 700px;
  z-index: 1;
  filter: brightness(0.6);
}

.indexInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.indexGrid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 300px 300px;
  grid-template-areas: "area3 area1" "area4 area1" "area2 area2";
  gap: 20px;
  padding: 20px;
}
.indexGrid .grid1 {
  grid-area: area1;
}
.indexGrid .grid2 {
  grid-area: area2;
}
.indexGrid .grid3 {
  grid-area: area3;
}
.indexGrid .grid4 {
  grid-area: area4;
}
.indexGrid img {
  filter: brightness(0.6);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gridItem {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.gridItem p {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.gridItem img {
  z-index: 1;
  transition: 1s;
}
.gridItem:hover img {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .indexInfo {
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 425px) {
  .carousel-item div p {
    font-size: 20px;
  }
  .carousel-item img {
    height: 250px;
  }
  .indexGrid {
    gap: 10px;
    grid-template-rows: 140px 140px 140px;
  }
  .gridItem p {
    font-size: 25px;
  }
}
body {
  background-color: #ebebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h6 {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
