@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
nav {
  display: flex;
  align-items: center;
  padding: 1.3em;
  background-color: #FFFFFF;
}

.navBrand {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-right: auto;
  text-decoration: none;
  color: #3b3b3b;
}

.navItems {
  display: flex;
  gap: 30px;
}

.dropp {
  margin-right: 30px;
}
.dropp button {
  border: none;
  background-color: #FFFFFF;
}
.dropp button:focus {
  transition: 0.5s;
  transform: rotate(-360deg);
}
.dropp button svg {
  margin: 0;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.navLinks a {
  font-family: "Kanit", sans-serif;
  color: #5F6368;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
}
.navLinks a :hover {
  color: black;
}

.iconNav {
  width: 35px;
  height: 100%;
}

#collapseExample {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100;
}

@media (max-width: 768px) {
  nav {
    justify-content: space-between;
  }
  .navBrand {
    order: 10;
    margin: 0;
  }
  .dropdown {
    order: 1;
  }
  .navItems {
    order: 20;
    gap: 10px;
  }
}
@media (max-width: 425px) {
  .iconNav {
    width: 30px;
  }
}
.card {
  width: 100%;
  border: none;
  background-color: #dfdfdf;
  border-radius: none;
}
.card img {
  width: 100%;
  height: 100%;
  transition: 1s;
}
.card img:hover {
  transform: scale(1.05);
}
.card p {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #3b3b3b;
  padding: 0 10px;
}
.card div {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#precioCard {
  position: absolute;
  bottom: 0;
  margin-left: 0;
  font-size: 15px;
  padding-bottom: 0;
  background-color: #dfdfdf;
  color: #3b3b3b;
  padding: 3px;
  padding-left: 10px;
  border-radius: 0 5px 0 0;
}

@media (max-width: 768px) {
  .card p {
    font-size: 20px;
  }
  #precioCard {
    font-size: 12px;
    padding: 0 5px;
    padding-left: 10px;
  }
}
@media (max-width: 425px) {
  .card {
    width: 45%;
  }
  .card p {
    font-size: 17px;
  }
}
.accountMain {
  display: flex;
  justify-content: center;
}

.accountSect {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: 40%;
  margin: 30px;
  padding: 30px;
  gap: 30px;
  flex-direction: column;
  border-radius: 20px;
}
.accountSect img {
  width: 50%;
  border-radius: 50%;
}
.accountSect form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formItem {
  display: flex;
  flex-direction: column;
}
.formItem label {
  font-family: "Nunito", sans-serif;
  color: #3b3b3b;
  font-size: 20px;
  font-weight: 500;
}
.formItem input {
  border-radius: 5px;
  border: none;
  background-color: #F0F0F0;
}

.enviar {
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  font-family: #3b3b3b;
  font-size: 15px;
  transition: 1s;
  color: #5F6368;
}
.enviar:hover {
  transform: scale(1.1);
}

@media (max-width: 425px) {
  .accountSect {
    width: 80%;
    height: 500px;
  }
  .accountSect img {
    width: 70%;
  }
}
.bannerIndex img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.destIndex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.destIndex h2 {
  margin: 40px;
  margin-bottom: 0;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #3b3b3b;
}

#articlesDest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

@media (max-width: 1000px) {
  .bannerIndex img {
    height: 100%;
  }
}
@media (max-width: 425px) {
  #articlesDest {
    flex-wrap: wrap;
  }
  .destIndex h2 {
    font-size: 30px;
  }
}
body {
  background-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
