@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'vars';
@import 'components/nav';
@import 'components/footer';
@import 'components/infoCard';
@import 'components/productCard';
@import 'components/sectionProducts';
@import 'components/productInfo';
@import 'pages/account';
@import 'pages/index';
@import 'pages/cart';
@import 'mediaQeries';

body {
    background-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h6 {
    margin: 0;
}