nav {
    display: flex;
    align-items: center;
    padding: 1.3em;
    background-color: #F7F7F7;
    height: 10vh;
}

.navBrand {
    font-family: $font1;
    font-weight: 600;
    font-size: 25px;
    margin-right: auto;
    text-decoration: none;
    color: $grey2;
}

.navItems {
    display: flex;
    gap: 30px;
    svg {
        fill: $azulOsc;
    }
}

.dropp {
    margin-right: 30px;
    button {
        border: none;
        background-color: #F7F7F7;
        svg {
            margin: 0;
            fill: $azulOsc;
            transition: transform 0.5s ease;
        }
    }
}

.navLinks {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    a {
        font-family: $font3;
        font-weight: 500;
        color: $grey1;
        font-size: 17px;
        text-decoration: none;
        transition: 0.5s;
        :hover {
            color: black;
        }
    }
    .sit {
        color: $azulOsc;
        border-bottom: 2px solid black;
    }
}

.iconNav {
    width: 35px;
    height: 100%;
}

#collapseExample {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #F7F7F7;
    z-index: 100;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 768px){
    nav {
        justify-content: space-between;
    }
    .navBrand {
        order: 10;
        margin: 0;
    }
    .dropdown {
        order: 1;
    }
    .navItems {
        order: 20;
        gap: 10px;
    }
}

@media (max-width: 425px){
    .iconNav {
        width: 30px;
    }
}